Source: fits
Section: cli-mono
Priority: optional
Maintainer: Conor Sheehan <conor.sheehan.dev@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://fitstool.org
Vcs-Git: git@github.com:ConorSheehan1/fits.deb.git
Vcs-Browser: https://github.com/ConorSheehan1/fits.deb

Package: fits
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre-headless | java7-runtime-headless
Description: Harvard File Information Tool Set
